@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500; 1,600 & 디스플레이=스왑');

body {
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
}


.search button {
    background-color: #eee5;
    border: none;
    border-radius: 5px;
    width: 35px;
    color: #eee;
    padding: 5px;
}

.search button:hover {
    background-color: #eee;
    color: #000;
}

/* css-header */

header {
    width: 1650px;
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 250px 1fr 40px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .logo {
    font-weight: medium;
    font-size: medium;
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 400;
}


/* css-slider */

.slider {
    height: 100vh;
    margin-top: -50px;
    position: relative;
}

.slider .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .item img{
    width: 100%;
    height: 100%;
    margin-top: 0;
    object-fit: cover;
}

.slider .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 5%, transparent
    );
}

.slider .list .item .content {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 11px;
    line-height: 15px;
}

.slider .list .item .content h2 {
    font-size: 69px;
    margin: 0;
    line-height: 40px;
}

.slider .list .item .content p:nth-child(3){
    font-size: 19px;
}

.slider .list .item .content button{
    margin-top: 13px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.slider .list .item .content button:hover{
    background-color: #eee5;
    color: #eee;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(2),
.slider .list .item.active p:nth-child(3),
.slider .list .item.active p:nth-child(4),
.slider .list .item.active button{
    transform: translateY(20px);
    filter: blur(30px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}

.slider .list .item.active h2 {
    animation-delay: 1s;
    line-height: 97px;
}

.slider .list .item.active p:nth-child(2){
    animation-delay: 1.3s;
}

.slider .list .item.active p:nth-child(3){
    animation-delay: 1.3s;
}

.slider .list .item.active p:nth-child(4){
    animation-delay: 1.3s;
}

.slider .list .item.active button{
    animation-delay: 1.3s;
}

/* css-arrows */

.arrows {
    position: absolute;
    top: 30%;
    right: 50%;
    z-index: 100;
}

.arrows button {
    background-color: #eee5;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover {
    background-color: #eee;
    color: #000;
}

/* css-thumbnail */

.thumbnail {
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 290px;
    width: 100%;
    height: 250px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
}

.thumbnail::-webkit-scrollbar {
    width: 1;
    background-color: #eee5;
}

.thumbnail::-webkit-scrollbar-track {
    width: 0.3;
    scrollbar-color: #eee;
}

.thumbnail .thumbnail_item {
    width: 160px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}

.thumbnail .thumbnail_item img {
    width: 280%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    font-size: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.thumbnail .thumbnail_item.active {
    filter: brightness(1);
}

.thumbnail .thumbnail_item .thumbnail_content {
    position: absolute;
    inset: auto 10px 10px 10px;
}

.thumbnail .thumbnail_item.active {
    filter: brightness(1);
}

@media screen and (max-width:678px) {
    .thumbnail {
        justify-content: start;
    }

    .slider .list .item .content h2 {
        font-size: 60px;
    }

    .slider .list .item .content p:nth-child(1) {
        font-size: 15px;
        letter-spacing: 6px;
    }

    .slider .list .item .content p:nth-child(3) {
        font-size: 19px;
    }

    .arrows {
        top: 90px;
        left: 20px;
    }

    .header .logo {
        font-size: 8px;
    }

    .header .menu {
        font-size: 8px;
    }
}


